
body{
    background-color: #00FFFF;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:red;
}


.navbar{
    display: flex;
    justify-content:flex-end;
    background-color: rgb(0, 0, 0);
}

.navbar a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
}

.navbar a:hover{
    color: white;
    /* background-color: #00FFFF; */
    font-weight: bold;
    text-decoration: underline 5px;
    text-decoration-color: #00FFFF;
    
}

.header{
    background-color:rgb(0, 0, 0);
    height: 250px;
    font-size: 30px;
    color: white;
    text-align: center;
    display:flex;
    justify-content:center;
    padding-top: 120px;
}




