@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section{
    display:inline-block;
    margin-top: 80px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    /*senão definir o height ele fica em um valor automatico e se adapta ao conteudo de dentro*/
    /* height: 400px; */
    text-align: center;
    padding: 5%;
    width: 90%;
}

section h2{
    width: 100%;
    font-size:35px;
    margin: 0;
    font-family: 'DynaPuff', cursive;
}

.navbar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.logo{
    flex: 20%;
    margin-left: 10%;
    /* border: 1px solid black; */
    text-align: left;
}

.logo h1{
    font-size: 35px;
    font-family: 'DynaPuff', cursive;
    color: #385a64;
}

.menu-top{
    flex: 70%;
    /* border: 1px solid rgb(51, 16, 211); */
    text-align: right;
    padding:20px;
}

.menu-top a {
    text-decoration: none;
    color: #385a64;
    font-size: 20px;
    padding: 20px 16px;
}

.menu-top a:hover{
    color: #00dfc2;
    border-top: 3px solid #00dfc2;
}

#botao{
    background-color: #385a64;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border:none;
    background-color: #00dfc2;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    /* height: 600px; */
    background-color:white;
}

.headline{
    margin-left: 10%;
    flex:40%;
    /* border: 1px solid black; */
}

.headline h2{
    font-weight: 900;
    color: #00dfc2;
    padding:0;
    margin: 0;
}

.headline p{
    color:grey;
    text-align: left;
}

.contact-btn{
    display:inline-block;
    background-color:rgb(50, 6, 173);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover{
    background-color: #00dfc2;
    color: white;
}

#portfolio{
    font-size: 70px;
}

#bem-vindo{
    letter-spacing: 15px;
}

.img-headline{
    margin-right: 10%;
    flex:40%;
    text-align: center;
    
}

.servicos{
    display: inline-block;
    margin-top:5%;
}

.card{
    display: inline-block;
    width:30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid black;
    border-radius: 10px;
    
}

#unico{
    background-color:#385a64;
}

.modal-body img{
    width: 350px;
    height: 350px;
}

.bi-github, .bi-eye-fill{
    cursor:pointer;
    
}

.card a{
    text-decoration:none;
    color: #385a64;
}




